"*":
  "atom-beautify":
    general:
      _analyticsUserId: "fdcdfbcf-6fe1-4b83-92f6-9e4dcd6b190c"
  core:
    disabledPackages: [
      "atom-sort-sass"
      "seti-icons"
      "linter-scss-lint"
      "linter"
      "activate-power-mode"
      "erb-helper"
      "styleguide"
      "spell-check"
      "markdown-writer"
    ]
    ignoredNames: [
      ".DS_Store"
      ".git"
      ".bundle"
    ]
    themes: [
      "genesis-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Input Mono"
    fontSize: 15
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "f863cde1-4103-f9ee-8a26-05165976b61a"
  "genesis-ui":
    distractionFree:
      hideBottom: false
      hideFiles: false
      hideTabs: false
  linter:
    errorPanelHeight: 149
    showErrorPanel: false
    showErrorTabLine: true
  "linter-scss-lint":
    scss_files: [
      "**/*.scss"
      "**/*.scss.erb"
    ]
  minimap: {}
  sunset:
    has_been_configured: true
  "toggle-quotes": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  typewriter: {}
  welcome:
    showOnStartup: false
"source.gfm":
  editor:
    softWrap: true
